@import "@/styles/variables.scss";

.container {
  // height: 100vh; /* 뷰포트 꽉 채움 */
  padding: 150px 40px 0 40px;
  background: $thema-gradient; /* 테마 그라데이션 */
  overflow: hidden; /* 이미지 크롭 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.inner p {
  font-size: 20px;
}
.inner h1 {
  font-size: 100px;
  font-weight: 700;
}
.image-crop {
  position: relative;
  width: 100%;
  height: 520px; /* 잘라낼 높이 */
  margin-top: 24px;
  overflow: hidden; /* 컨테이너 밖은 숨김 */
}

.image-abs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -200px; /* 하단으로 내려 일부 잘림 */
  top: 0;
  height: 800px; /* fill 이미지가 꽉 차도록 */
}

.image {
  object-fit: contain;
}
