@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  padding: 80px 10px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  background: #fff;
}
.title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;

  &.animate {
    animation: fadeInUp 1.2s ease-out forwards;
  }

  .image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }

  .text {
    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 12px;
      text-align: left;
      color: black;
    }

    p {
      font-size: 16px;
      color: #444;
      margin-bottom: 12px;
      text-align: left;
      line-height: 1.8;
      white-space: pre-wrap;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 12px;

      li {
        font-size: 16px;
        color: #333;
        position: relative;
        padding-left: 24px;
        margin-bottom: 10px;

        &::before {
          content: "✔";
          position: absolute;
          left: 0;
          color: #00b894;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding-top: 150px;
  }

  .row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 0 auto;

    .text {
      h3:nth-child(1) {
        font-size: 40px;
        font-weight: bold;
      }

      p:nth-child(2) {
        font-size: 20px;
      }
    }
  }

  .row.reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) {
  .row {
    margin: 0;
    gap: 100px;

    .text {
      width: 600px;
    }
  }
}
